body {
    margin: 0;
    padding: 0;
    width: 100%;

}


.page {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    text-align: center;
    width: 48rem;
}

input {
    font-size: 1rem;
    width: 28rem;
    height: 3.3rem;
    margin: 1.2rem;
    padding-left: 4rem;
    border: 1px solid #525557;
    color: #454545;
    font-family: inherit;
    font-style: italic;
 
}



.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 1080px;
    background: #0C0D0E;
    
}

.details article {
    width: 38rem;
    height: 100%;
}

h2 {
    font-size: 4rem;
    color: #FE3B1F;
    margin-top: 8rem;
 }


 .details p {
    font-size: 1.3rem;
    color: #FFFFFF;
    line-height: 2.7rem;
    margin: 8rem auto;
    text-align: left;
    letter-spacing: 0.05em;
    

}

.details h2 {
    text-align: left;
}

.navigation {
    margin-bottom: 10rem;
}

.circles {
    display: flex;
 
}

.circle {
    height: 1.5rem;
    width: 1.5rem;
    margin: 7rem 0.7rem 0 0.7rem;
    border-radius: 50%;
    background: #FE3B1F;    
    opacity: 0.1;
}

.arrow-circle {
    height: 1.2rem;
    width: 1.2rem;
    margin: 7rem 0.7rem 0 0.7rem;
    background: white;    
    border-radius: 50%;
    border: 4px solid #FE3B1F;
} 



.next-arrow::after {
    content: '\276f';
    color: #FE3B1F;
    display: block;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.prev-arrow::after {
    content: '\276e';
    color: #FE3B1F;
    display: block;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;

}

#form-1,
#details-1 {
    display: none;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


#skills {
    font-size: 1rem;
    width: 32.5rem;
    height: 3.3rem;
    margin: 1.2rem;
    padding-left: 4rem;
    cursor: pointer;
    background: white;
    border: 1px solid #525557;
    color: #5c5c5c;
    font-family: inherit;
    font-style: italic;
    -moz-appearance:none; 
    -webkit-appearance:none; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" transform="rotate(90)" width="15" height="15" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" style="fill:%23FE3B1F;"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}


.skills-button {
    position: absolute;
    width: 14rem;
    height: 2.8rem;
    background: #FE3B1F;
    color: white;
    font-family: inherit;
    size: 0.7rem;
    border: none;
    margin: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.skills-button:hover {
    background: rgb(34, 34, 34)
}

.add-remove {
    padding: 0;
    margin-top: 8rem;

}

.add-remove li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 1rem;
    width: 28rem;
    height: 3.3rem;
    margin: 1.2rem;
    padding: 0 2rem;
    border: 1px solid #525557;
    color: #454545;
    font-family: inherit;
    font-style: italic;
}

.add-remove button {
    background: none;
    border: none;
    cursor: pointer;
}
